<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DV-Index</title>


    <!-- icons links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body class="adminBody">
    <!-- navbar -->
    <section id="Nav-bar-section">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-whole-classAdmin ">
            <div class="container">
                <p class="navbar-brand"><i class="fab fa-dyalog"></i><i class="fab fa-vuejs"></i> DeployVotes</p>
                <p class="text-light fw-bold"><u>Admin</u></p>
                <!-- makes the text right  -->
                <div class="w-25 text-right ">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <!-- phone view - right  -->
                    <div class="navbar-nav mx-auto text-right">
                        <a href="adminLogin" class="nav-link nav-link-ltr textinnav ">Login</a>
                        <a href="adminDetails" class="nav-link nav-link-ltr textinnav ">View Details</a>
                        <a href="#" class="nav-link nav-link-ltr textinnav " id="active-underline">update</a>
                        <a href="#" class="nav-link  ">
                            <button type="button" class="btn btn-outline-warning">Log Out</button>
                        </a>
                        <h6 class="text-light my-auto text-center">
                            <i class="fas fa-user-tie"></i>
                            <p> ... </p>
                        </h6>
                    </div>
                </div>
            </div>
        </nav>
    </section>



    <section>
        <form action="/adminDateCheck" method="post">
            <div class="adminLoginBox ">
                <h3 class="welcomeAdmin">
                </h3>
                <!-- error -->

                <% if(err == "Enter the Valid Date!"){%>
                    <div class="errorDiv">
                        <div class="alert alert-danger bg-danger text-light text-center alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            <strong><%= err%></strong>
                        </div>
                    </div>
                    <% } else if(err == "Successfully Updated!"){%>
                        <div class="errorDiv">
                            <div class="alert alert-success bg-success text-light text-center alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                <strong><%= err%></strong>
                            </div>
                        </div>
                        <% } %>

                            <div class="login__field">
                                <p class="adminUpdateInp"> <i class="login__icon fas fa-hourglass-start"></i> Start Date:
                                    <input type="date" class="login__input" name="votingStart"></p>
                            </div>
                            <div class="login__field">
                                <p class="adminUpdateInp"> <i class="login__icon fas fa-hourglass-end"></i> Voting End Date:
                                    <input type="date" class="login__input" name="votingEnd"></p>
                            </div>
                            <div class="login__field">
                                <p class="adminUpdateInp"> <i class="login__icon fas fa-hourglass-end"></i> Enrollment End Date:
                                    <input type="date" class="login__input" name="enrollEnd"></p>
                            </div>

                            <div class="adminBtn">
                                <button type="submit" class="btn btn-danger">update</button>
                            </div>
            </div>
        </form>
    </section>

    <!-- footer-section -->
    <!-- <section id="footer-section ">
        <footer>
            <p class="cpy-footer "> <i class="far fa-copyright "></i> 2021 Sowbhakian
            </p>
        </footer>
    </section> -->

    <!-- jQuery -->
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <!-- Popper JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
    <!-- Bootstrap JS -->
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
</body>

</html>