/* ----------------------- INDEX ----------------------- */

body {
    background-color: rgb(170, 170, 170);
    background-image: url("https://www.transparenttextures.com/patterns/little-pluses.png");
}

a,
a:hover {
    text-decoration: none;
}

h4 {
    /* color: #00203FFF; */
    font-weight: bold;
}


/* navbar */

.navbar-whole-class {
    padding: 1% 5%;
    background-color: #031d44;
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
}


/* nav-bar  effective*/

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 2px;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: white;
    color: white;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 50%;
}

#active-underline {
    color: white;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: whitesmoke;
}

.navbar-dark .navbar-brand {
    color: wheat;
    font-family: 'PT Serif';
}

@media (max-width: 990px) {
    .nav-link {
        margin: 0 0;
    }
    .quotes {
        padding: 3% 0;
    }
}


/* home-tip-section */

#home-body {
    padding: 5% 10%;
}

h3 {
    font-family: 'Crimson Pro';
    cursor: pointer;
}

.stepbody {
    padding: 5% 15% 0;
}

.stepbody-div {
    background-color: #C7D3D4FF;
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
    border-radius: 50px;
    box-shadow: 5px 10px 18px #888888;
}

.step-heading-p {
    font-size: 35px;
    font-family: 'Crimson Pro';
    margin-bottom: 0;
}

.step-p-div {
    text-align: center;
}

.active {
    color: #FEE715FF;
    border-radius: 10px;
    border-bottom: 3px solid #FEE715FF;
    background-color: #101820FF;
}

.step-context {
    padding: 5% 15%;
    padding-right: 5;
    padding-top: 0;
    font-family: 'Dosis';
    font-size: 25px;
    font-weight: bold;
}

.deactive {
    display: none;
}

.step-context-remove {
    display: none;
}

li {
    font-family: 'Kanit';
    color: #000000;
}


/* quotes */

.quotes {
    padding: 10% 15%;
    padding-right: 0;
    text-align: center;
    font-family: 'Arvo';
    color: #003079;
}

.date {
    text-align: center;
    font-weight: normal;
    padding-top: 4%;
    font-family: 'Playfair Display';
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 990px) {
    .quotes {
        padding: 5% 0;
    }
}


/* help */

.help {
    padding: 0 3%;
    margin-bottom: 10%;
}

.material-icons {
    padding: 2% 2%;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 40%;
    margin-bottom: 5%;
}

h5 {
    font-family: 'Dosis';
    color: black;
}

.icon {
    margin: 2% 0;
    padding: 5% 0;
    box-shadow: -1px 0 8px rgb(0, 0, 0);
    box-shadow: 5px 10px 18px #888888;
}

.icon:hover {
    box-shadow: 5px 10px 8px #888888;
}

.padding {
    padding: 5% 5%;
}

.text-icon {
    font-family: 'Merriweather'
}


/* footer-section */

.cpy-footer {
    text-align: center;
}


/* ----------------------- LOGIN ----------------------- */

.my-login-page .card-wrapper {
    width: 400px;
}

.card-wrapper {
    padding-top: 10%;
}

.card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border-radius: 50px;
}

.card.fat {
    padding: 10px;
    padding-top: 0;
}

.card .card-title {
    margin-bottom: 30px;
}


/* .form-control {
    border-width: 2.3px;
} */

.form-group label {
    width: 100%;
}

.btn-index {
    padding: 12px 10px;
}

.login-whole {
    padding: 3% 30%;
    padding-bottom: 2%;
}

@media screen and (max-width: 425px) {
    .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .card.fat {
        padding: 0;
    }
    .card.fat .card-body {
        padding: 15px;
    }
}

@media screen and (max-width: 720px) {
    .login-whole {
        padding: 5% 10%;
    }
}


/* form */

.switch-bar {
    border: 0;
    text-align: center;
    padding: 1.5% 0;
    background-color: #999999;
    cursor: pointer;
}

#loginBar :hover,
#signupBar :hover {
    color: #00076d;
    font-size: 2rem;
}

.switch-text {
    font-family: 'PT Sans Narrow';
    font-weight: bolder;
    font-size: 1.5rem;
}

.white {
    background-color: white;
    color: black;
}

.round-edge-lt {
    border-top-left-radius: 50px;
}

.round-edge-rt {
    border-top-right-radius: 50px;
}

@media screen and (max-width: 576px) {
    .vl {
        border-left: none;
    }
    .switch-bar {
        padding: 0.5% 0;
    }
}

.hand {
    cursor: pointer;
}


/* ----------------------- ENROLL ----------------------- */


/* heading */

.enr-heading-button {
    text-align: center;
    padding: 5% 30% 0%;
}

.Enroll-heading {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.enr-btn-start {
    margin-top: 10%;
}


/* part-display */

.btn-part-display {
    margin: 2% 0;
    margin-bottom: 3%;
}

.btn-part-1,
.btn-part-2,
.btn-part-3 {
    height: 5px;
    border-radius: 50px;
    background-color: rgba(56, 79, 121, 0.356);
}

.addblue {
    background-color: rgb(25, 106, 255);
}

.enr-part-cls {
    font-size: x-large;
    font-family: 'Lato';
}


/* Nominee */

.enr-content-body {
    text-align: center;
    padding: 2% 25%;
}

.enr-input-body {
    padding: 3% 15%;
    border-radius: 25px;
}

.form-control {
    margin: 2.5% 3%;
    margin-left: 0;
}

.enr-btn-pre {
    padding: 1% 2%;
}

.enr-btn-next {
    padding: 1% 4.5%;
}

.enr-btn-div {
    margin: 3% 0;
}

.heading-n-v {
    font-size: 2rem;
    font-family: 'PT Sans Narrow';
}


/* symbols */

.symbols {
    block-size: 25%;
}

.symbol-inp-div {
    margin: 2% 0;
}

.fa-check-double {
    background-color: rgb(7, 139, 255);
    padding: 5% 5%;
    border-radius: 50%;
}


/* end-enroll */

.end-enroll {
    margin: 12% 0;
}

.Succ-enr {
    margin-top: 4%;
}

.fa-vote-yea {
    margin-top: 5%;
}

@media screen and (max-width: 720px) {
    .enr-heading-button {
        padding: 5% 15% 2%;
    }
    .enr-content-body {
        margin: 2% 5%;
        padding: 0 0;
    }
    .enr-input-body {
        padding: 2% 5%;
    }
    .enr-btn-start {
        margin-top: 30%;
    }
}

@media screen and (max-width: 720px) {
    .enr-btn-start {
        margin-top: 40%;
    }
}


/* ----------------------- Discussion ----------------------- */

.head-dis {
    padding-top: 3%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Merriweather';
    text-shadow: 2px 2px #000000;
}

.dis-para {
    text-align: left;
    text-indent: 5%;
}

.emainame {
    font-size: 2rem;
    font-family: 'Anton';
    color: #003079;
}

.feildset {
    padding: 3% 2%;
    font-family: 'Cairo';
    font-size: 2rem;
}

.gap-dis {
    padding-bottom: 3%;
}

.whole-dis {
    padding: 2% 1%;
}

.add-dis {
    background-color: #ffffff;
    padding: 0.5% 0.5%;
    border-radius: 2rem;
    cursor: pointer;
}

.pluse-div {
    padding-bottom: 2%;
    text-align: center;
}

.dis-preview {
    display: contents;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.popup-model {
    max-width: 70%!important;
}

@media screen and (max-width: 540px) {
    .head-dis {
        font-size: 1.7rem;
    }
    .emainame {
        font-size: 1.3rem;
    }
    .feildset {
        font-size: 1rem;
    }
    .popup-model {
        max-width: 100%!important;
    }
}