/* ----------------------- INDEX ----------------------- */

body {
    background-color: rgb(170, 170, 170);
    background-image: url("https://www.transparenttextures.com/patterns/little-pluses.png");
}

.adminBody {
    background-color: #dfdfdf;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

.navbar-whole-classAdmin {
    background-color: #000000;
    padding: 1% 0%;
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

a,
a:hover {
    text-decoration: none;
}

h4 {
    /* color: #00203FFF; */
    font-weight: bold;
}


/* navbar */

.navbar-whole-class {
    padding: 1% 5%;
    background-color: #031d44;
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
}


/* nav-bar  effective*/

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 2px;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: white;
    color: white;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 50%;
}

#active-underline {
    color: white;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: whitesmoke;
}

.navbar-dark .navbar-brand {
    color: wheat;
    font-family: 'PT Serif';
}

@media (max-width: 990px) {
    .nav-link {
        margin: 0 0;
    }
    .quotes {
        padding: 3% 0;
    }
}


/* home-tip-section */

#home-body {
    padding: 5% 10%;
}

h3 {
    font-family: 'Crimson Pro';
    cursor: pointer;
}

.stepbody {
    padding: 5% 15% 0;
}

.stepbody-div {
    background-color: #C7D3D4FF;
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
    border-radius: 50px;
    box-shadow: 5px 10px 18px #888888;
}

.step-heading-p {
    font-size: 35px;
    font-family: 'Crimson Pro';
    margin-bottom: 0;
}

.step-p-div {
    text-align: center;
}

.active {
    color: #FEE715FF;
    border-radius: 10px;
    border-bottom: 3px solid #FEE715FF;
    background-color: #101820FF;
}

.step-context {
    padding: 5% 15%;
    padding-right: 5;
    padding-top: 0;
    font-family: 'Dosis';
    font-size: 25px;
    font-weight: bold;
}

.deactive {
    display: none;
}

.step-context-remove {
    display: none;
}

li {
    font-family: 'Kanit';
    color: #000000;
}


/* quotes */

.quotes {
    padding: 10% 15%;
    padding-right: 0;
    text-align: center;
    font-family: 'Arvo';
    color: #003079;
}

.date {
    text-align: center;
    font-weight: normal;
    padding-top: 4%;
    font-family: 'Playfair Display';
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 990px) {
    .quotes {
        padding: 5% 0;
    }
}


/* help */

.help {
    padding: 0 3%;
    margin-bottom: 10%;
}

.material-icons {
    padding: 2% 2%;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 40%;
    margin-bottom: 5%;
}

h5 {
    font-family: 'Dosis';
    color: black;
}

.icon {
    margin: 2% 0;
    padding: 5% 0;
    box-shadow: -1px 0 8px rgb(0, 0, 0);
    box-shadow: 5px 10px 18px #888888;
}

.icon:hover {
    box-shadow: 5px 10px 8px #888888;
}

.padding {
    padding: 5% 5%;
}

.text-icon {
    font-family: 'Merriweather'
}


/* footer-section */

.cpy-footer {
    text-align: center;
}


/* ----------------------- LOGIN ----------------------- */

.message_btn {
    font-size: 1.5rem;
    /* background-color: rgba(199, 52, 26, 0.781);
    background-color: rgba(255, 140, 119, 0.781) */
}

#signinToggler {
    cursor: pointer;
}

.my-login-page .card-wrapper {
    width: 400px;
}

.card-wrapper {
    padding-top: 10%;
}

.card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border-radius: 50px;
}

.card.fat {
    padding: 10px;
    padding-top: 0;
}

.card .card-title {
    margin-bottom: 30px;
}

.form-group label {
    width: 100%;
}

.btn-index {
    padding: 12px 10px;
    margin-bottom: 5%;
}

.login-whole {
    padding: 3% 30%;
    padding-bottom: 2%;
}

.adminCls {
    text-align: center;
    margin-top: 2%;
}

.adminCls button {
    font-weight: bold;
    font-family: 'Rowdies';
}

@media screen and (max-width: 425px) {
    .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .card.fat {
        padding: 0;
    }
    .card.fat .card-body {
        padding: 15px;
    }
}

@media screen and (max-width: 720px) {
    .login-whole {
        padding: 5% 10%;
    }
}


/* form */

.switch-bar {
    border: 0;
    text-align: center;
    padding: 1.5% 0;
    background-color: #999999;
    cursor: pointer;
}

#loginBar :hover,
#signupBar :hover {
    color: #00076d;
    font-size: 2rem;
    padding: 0 0;
}

.switch-text {
    font-family: 'PT Sans Narrow';
    font-weight: bolder;
    font-size: 2rem;
    padding: 2% 0;
}

.white {
    background-color: #c3c3c3;
    ;
    color: black;
}

.round-edge-lt {
    border-top-left-radius: 50px;
}

.round-edge-rt {
    border-top-right-radius: 50px;
}

.formTopCls {
    margin-top: 5%;
}

@media screen and (max-width: 576px) {
    .vl {
        border-left: none;
    }
    .switch-bar {
        padding: 0.5% 0;
    }
    .round-edge-lt {
        border-top-right-radius: 50px;
    }
    .round-edge-rt {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.hand {
    cursor: pointer;
}

.popup {
    /* background-image: linear-gradient(to bottom, #ff0000, #f70000, #ee0000, #e60000, #de0000, #d50000, #cc0001, #c30001, #b80001, #ac0001, #a10001, #960000); */
    color: white;
    padding: 0 5%;
    text-align: center;
    font-size: large;
    margin-top: 2%;
}

.popup-head {
    padding: 1% 0;
}


/* ----------------------- ENROLL ----------------------- */

.steps-head {
    padding: 3% 10%;
}

.step-top {
    margin-top: 2%;
}

.hand-icon {
    text-indent: 5%;
}

.points-enr {
    text-align: left;
    text-indent: 25%;
}

.para-top {
    margin-top: 2%;
}

.para-bottom {
    margin-bottom: 2%;
}

.ennroll-btn-pad {
    padding: 2% 10%;
}


/* old */


/* heading */

.enr-heading-button {
    text-align: center;
    padding: 5% 10%;
    padding-bottom: 2%;
}

.vote-heading-button {
    text-align: center;
    padding: 5% 20%;
}

.Enroll-heading {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}


/* part-display */

.btn-part-display {
    margin: 2% 0;
    margin-bottom: 3%;
}

.btn-part-1,
.btn-part-2,
.btn-part-3 {
    height: 5px;
    border-radius: 50px;
    background-color: rgba(56, 79, 121, 0.356);
}

.addblue {
    background-color: rgb(25, 106, 255);
}

.enr-part-cls {
    font-size: x-large;
    font-family: 'Lato';
}


/* Nominee */

.enr-content-body {
    text-align: center;
    padding: 2% 25%;
}

.enr-input-body {
    padding: 3% 15%;
    border-radius: 25px;
}

.form-control {
    margin: 2.5% 3%;
    margin-left: 0;
}

.enr-btn-pre {
    padding: 1% 2%;
}

.enr-btn-next {
    padding: 1% 4.5%;
}

.enr-btn-div {
    margin: 3% 0;
}

.heading-n-v {
    font-size: 2rem;
    font-family: 'Alfa Slab One';
    color: #000000;
    margin: 3% 0;
}


/* symbols */

.symbols {
    block-size: 25%;
}

.symbol-inp-div {
    margin: 2% 0;
}

.fa-check-double {
    background-color: rgb(7, 139, 255);
    padding: 5% 5%;
    border-radius: 50%;
}

.symbolTexture {
    background-color: #d4d4d4;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}


/* end-enroll */

.end-enroll {
    margin: 12% 0;
}

.Succ-enr {
    margin-top: 4%;
}

.fa-vote-yea {
    margin-top: 5%;
}


/* Info Section */

.info-enr {
    text-align: left;
    padding-right: 7%;
}

.info-enr p {
    margin-block-end: 0;
}

.enr-borderCurve {
    border-radius: 10rem;
    color: rgb(255, 240, 212);
    background-image: linear-gradient(to bottom, #0162a7, #004f83, #023c61, #092a41, #0a1823);
    font-size: 2rem;
}

.enr-borderCurve:hover {
    cursor: pointer;
    background-image: linear-gradient(to left top, #007dd6, #0068ad, #005386, #0a3e61, #102a3e);
    color: #ffffff;
}

.enr-borderCurve2 {
    margin-top: 3%;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to left top, #d67c00, #e39100, #eea600, #f7bc00, #ffd200);
    font-size: 2rem;
}

.enr-borderCurve2:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, #d67c00, #e39100, #eea600, #f7bc00, #ffd200);
}

.votingpagehead {
    margin-top: 5%;
    margin-bottom: 0;
}

.bottom-btn-n {
    margin-bottom: 5%;
}

@media screen and (max-width: 720px) {
    .enr-heading-button {
        padding: 10% 5%;
    }
    .enr-content-body {
        margin: 2% 5%;
        padding: 0 0;
    }
    .enr-input-body {
        padding: 2% 5%;
    }
    .enr-btn-start {
        margin-top: 30%;
    }
}

@media screen and (max-width: 720px) {
    .enr-btn-start {
        margin-top: 40%;
    }
}

@media screen and (max-width: 450px) {
    .info-enr {
        padding-right: 0;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 320px) {
    .heading-n-v {
        font-size: 1.5rem;
    }
}


/* ----------------------- Discussion ----------------------- */

.head-dis {
    padding-top: 3%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Merriweather';
    text-shadow: 2px 2px #000000;
}

.dis-para {
    text-align: left;
    text-indent: 5%;
}

.emainame {
    font-size: 2rem;
    font-family: 'Anton';
    color: #003079;
}

.feildset {
    padding: 3% 2%;
    font-family: 'Cairo';
    font-size: 2rem;
}

.gap-dis {
    padding-bottom: 3%;
}

.whole-dis {
    padding: 2% 1%;
}

.add-dis {
    background-color: #ffffff;
    padding: 0.5% 0.5%;
    border-radius: 2rem;
    cursor: pointer;
}

.pluse-div {
    padding-bottom: 2%;
    text-align: center;
}

.dis-preview {
    display: contents;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.popup-model {
    max-width: 70%!important;
}

@media screen and (max-width: 540px) {
    .head-dis {
        font-size: 1.7rem;
    }
    .emainame {
        font-size: 1.3rem;
    }
    .feildset {
        font-size: 1rem;
    }
    .popup-model {
        max-width: 100%!important;
    }
}


/* ----------------------- Vote ----------------------- */

.vote-body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

.gra-img {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.trans {
    background-image: linear-gradient(to left top, #00b75f, #00b585, #00b1a3, #00abb6, #00a3be, #0095bd, #0086ba, #0076b4, #005ca6, #004195, #002681, #000268);
}

.vote-headbox {
    padding: 0 3%;
    padding-bottom: 3.5%;
}

.vote-head {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    color: white;
    padding: 3% 0;
}

.vote-box {
    margin: 2% 0;
    padding: 5% 0;
    box-shadow: -1px 0 8px rgb(0, 89, 255);
    box-shadow: 5px 2px 20px whitesmoke;
}

.vote-box:hover {
    box-shadow: 5px 5px 25px rgb(255, 255, 255);
}

.text-votebox {
    font-family: 'Merriweather';
    color: rgb(153, 255, 192);
    font-size: 1.5rem;
}

.welcome-msg {
    text-align: center;
    font-family: 'Bree Serif';
    font-weight: bold;
    color: #000000;
    margin: 2% 0;
}

.sts-msg {
    color: #000268;
    font-family: 'Vollkorn';
    font-weight: bold;
    text-align: center;
    margin: 2% 0;
}

.vote-return {
    text-align: right;
    margin-right: 5%;
}

@media screen and (max-width: 540px) {
    .vote-status {
        margin: 5% 0;
    }
    .text-votebox {
        font-size: large;
    }
    .vote-head {
        font-size: 2rem;
    }
    .vote-headbox {
        margin-bottom: 10%;
    }
    .vote-box {
        margin-bottom: 10%;
    }
}

.vote-IC {
    border-radius: 10rem;
    background-color: #94949418;
    padding: 8% 8%;
}

.vote-partyName {
    font-family: 'Vollkorn';
    font-weight: bolder;
    font-size: 2.5rem;
    color: #0055b6;
}

.voting-iconDiv {
    margin-top: 5%;
    padding: 3% 0;
    margin-bottom: 10%;
}

.voting-title {
    text-align: center;
    margin-top: 5%;
    color: #000268;
    font-family: 'Alfa Slab One';
}

.vote-btn {
    padding: 2% 15%;
}

.voteMsgLt {
    margin-left: 5%;
    text-align: left;
}

.voteMsgRt {
    text-align: right;
    margin-right: 5%;
}

@media screen and (max-width: 768px) {
    .vote-IC {
        font-size: 500%;
    }
    .vote-partyName {
        font-size: 2rem;
    }
    .voteMsgLt,
    .voteMsgRt {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .sts-msg {
        margin: 7% 0;
    }
    .vote-return {
        text-align: center;
        margin-right: 0;
    }
}


/* Admin Login  */

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
    border-bottom-color: #000000;
}

.login__input {
    border: none;
    border-bottom: 2px solid #910000;
    border-bottom: 2px solid #af0000;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 25%;
    transition: .2s;
    text-align: center;
}

.adminLoginBox {
    text-align: center;
    padding: 5% 20%
}

.adminBtn {
    margin-top: 2%;
}

.errorMsg {
    font-family: 'Secular One';
}

.errorDiv {
    padding: 0 30%;
}

.welcomeAdmin {
    font-family: 'Concert One';
    /* font-size: larger; */
}

@media screen and (max-width: 768px) {
    .login__input {
        width: 50%;
    }
    .errorDiv {
        padding: 0 15%;
    }
}

@media screen and (max-width: 320px) {
    .login__input {
        width: 80%;
    }
    .errorDiv {
        padding: 0 0%;
    }
}


/* Admin Details */

.adminDetailsDiv {
    padding: 5% 15%;
}


/* CSS */

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.activeBtn {
    background: #36304a;
    color: white;
}

.adminUpdateInp {
    font-family: 'Concert One';
    font-size: larger;
}

.removeBTN {
    border: none;
    background: none;
}

.exitingDate b {
    font-family: 'Acme';
    color: rgb(185, 0, 0);
    font-size: larger;
}

.exitingDate p {
    font-family: 'Passion One';
    font-size: larger;
}

.modal-body h2 {
    font-family: 'DM Serif Text';
    margin-bottom: 5%;
    color: #000268;
}

.logOutBTN {
    text-align: right;
    margin-right: 2%;
    float: right;
}